$navbar-height: 69px; // nice

$app-color-dark: #1e2328;
$app-color-medium: #2a2e34;
$app-color-light: #3b3f46;

$app-accent-light: #fed053;
$app-accent-medium: #f5b301;
$app-accent-dark: #ec9c04;

$white: #ffffffee;