@import './_fonts.scss';
@import './_variables.scss';

.App {
  text-align: left;
}

.Card {
  background-color: gold;
}

.card-footer-container {
  .footer-header {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 15px;

    &::after {
      content: '';
      width: 100%;
      background: linear-gradient(90deg, transparent 15%, gold 50%, transparent 85%);
      height: 2px;
      position: absolute;
      left:0;
      bottom:0;
    }
  }
}

.btn-standard {
  color: black;
  background-color: rgb(233, 233, 68) !important;
  text-align: center;
  margin: 5px;
  width: fit-content;
}

.Label {
  color: white;
}

.navbar.navigation-bar {
  background-image: linear-gradient(#0e0e0e, transparent);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-space-center {
  display: flex;
  justify-content: center;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.full-vh {
  height: calc(100vh - $navbar-height);
}

.full-vw {
  width: 100vw;
}

.flex-grow {
  flex: 1 1 100%;
}

.weekly-card a{
  text-decoration: none;
}