.App {
  text-align: left;
}

.Label {
  color: white;
}

.navbar.navigation-bar {
  background-color: #28293d;
  border-style: solid;
  border-color: #5483df;
  border-width: 0;
  border-bottom-width: 1px;
}