@import './_fonts.scss';
@import './_variables.scss';

.App {
  text-align: left;
}

.btn-standard {
  color: black;
  background-color: rgb(233, 233, 68) !important;
}

.Label {
  color: white;
}

.navbar.navigation-bar {
  background-image: linear-gradient(#0e0e0e, transparent);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-align-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-space-center {
  display: flex;
  justify-content: center;
}

.fullwidth {
  width: 100%;
}

.fullheight {
  height: 100%;
}

.full-vh {
  height: calc(100vh - $navbar-height);
}

.full-vw {
  width: 100vw;
}

.flex-grow {
  flex: 1 1 100%;
}