:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    color: white;
  }
  @media (min-width: 500px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 1);
      padding-bottom: calc(var(--jumbotron-padding-y) * 1);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 700;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

  .card {
    font-weight: 400;
  }

  .infocard-h {
    color: white;
    text-align: center;
    font-weight: 900;
  }

  .card-text {
    color: white;
    align-self: center;
    font-size: larger;
    text-align: center;
    padding: 1vh;
  }