@import '../_fonts.scss';
@import '../variables.scss';

:root {
    --jumbotron-padding-y: 3rem;
  }
  
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  color: white;
}
@media (min-width: 500px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 1);
    padding-bottom: calc(var(--jumbotron-padding-y) * 1);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 700;
  font-size: 4rem;
  position: relative;
  z-index: 1;
  color: black;

  &::before {
    content: '';
    background: url('../assets/images/crown-floating.png') no-repeat;
    background-size: cover;
    position: absolute;
    width: 116%;
    height: 140%;
    z-index: -1;
    lefT: -9%;
    top: -32%;
  }
}

.jumbotron .container {
  max-width: 40rem;
}   

.card {
  font-weight: 400;
  box-shadow: 0px 0px 10px 10px #00000014;
}

.infocard-h {
  color: white;
  text-align: center;
  font-weight: 900;
}

.card-text {
  color: white;
  align-self: center;
  font-size: larger;
  text-align: center;
  padding: 1vh;
}

.site-container {
  &:before {
    background: url('../assets/images/Crystal-Grotto-Art.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
  }
}

.card-group {
  margin-bottom: 20px;
}

.cta-container {
  button {
    padding: 20px;
    margin: 10px;
    border: gold;
    border-radius: 5px;
    font-size: 30px;
    transition: 0.1s;
    color: white;
    box-shadow: 0px 0px 10px 10px #00000014;

    &:nth-child(1) {
      background-color: #232323;      

    }
    &:nth-child(2) {
      background-color: #232323;      

    }
    &:nth-child(3) {
      background-color: #232323;
    }

    &:hover {
      padding: 30px 60px;
      margin: 0;
      box-shadow: 0px 0px 40px 20px #0000007b;
    }
  }
}

.card-footer-container {
  .footer-header {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      background: linear-gradient(90deg, transparent 15%, gold 50%, transparent 85%);
      height: 2px;
      position: absolute;
      left:0;
      bottom:0;
    }
  }
}

.crown-container {
  background: url('../assets/images/thick_crown.svg');
}