@import '../variables';

.match-card {
  background-color: $app-color-dark;
  border-radius: 5px;
  margin-bottom: 40px;
  color: $white;
  padding: 16px;

  .match-information {
    background-color: transparent;
    padding: 4px 16px;
  }

  .table-headers {
    background-color: $app-accent-medium;
    outline: $app-color-light;
  }
}

.add-new-player-button {
  margin-top: 12px;
  background-color: #fff;
  min-width: 200px;
}