@import '../variables';


.add-match-button {
  margin-bottom: 20px;
  color: gold;
  text-align: center;
  cursor: pointer;
  border: 1px solid gold;
  padding: 6px;
  border-radius: 5px;
  background-color: transparent;
  transition: .2s;

  &:hover, &:focus-visible {
    background-color: $app-accent-medium;
    color: black;
  }

  &:active {
    background-color: $app-accent-dark;
  }

}